<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Stay Awake</title>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div th:replace="layout/header::header"></div>

<div class="memberContainer">
    <div class="memberElement">
        <video id="localVideo" autoplay playsinline></video>
        <h2 th:text="${username}"></h2>
        <h3 id="localTimer">00:00:00</h3>
    </div>
    <div id="teammate" class="memberElement" th:each="dto : ${memberRecordDTOs}">
        <video id="remoteVideo" autoplay playsinline></video>
        <h2 th:text="*{dto.getMember().getUsername()}"></h2>
        <h3 id="remoteTimer" th:text="*{dto.getRecord()}">00:00:00</h3>
    </div>
</div>
<div class="toggle-button-container" style="text-align: center">
    <form method="post">
        <input type="hidden" id="sendCount" name="second"/>
        <input style="" type="submit" id="toggleBtn" value="공부 시작">
    </form>
</div>

<script type="text/javascript" th:src="@{/js/timer.js}"></script>
<script type="text/javascript" th:src="@{/js/webrtc.js}"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    const myTimer = document.querySelector('#localTimer');
    const remoteTimer = document.querySelector('#remoteTimer');

    var stompClient = null;
    var username = null;
    var isRemoteOn = false;

    window.addEventListener('load', function () {
        connect();
        setCount([[${count}]]);
        startAction();
    });

    setInterval(sendTime, 1000);

    function connect(event) {
        username = [[${username}]];
        if (username) {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, onConnected, onError);
        }
        event.preventDefault();
    }

    function onConnected() {
        stompClient.subscribe('/topic/public', onMessageReceived);
        stompClient.send("/app/chat.addUser", {}, JSON.stringify({sender: username, type: 'JOIN'}));
    }

    function onError() {
        alert("error");
    }

    function sendTime() {
        var messageContent = String(myTimer.innerHTML);
        if (stompClient) {
            var chatMessage = {
                sender: username,
                content: messageContent,
                type: 'CHAT'
            };
            stompClient.send("/app/chat.sendMessage", {}, JSON.stringify(chatMessage));
        }
    }

    function onMessageReceived(payload) {
        var message = JSON.parse(payload.body);
        if (message.sender !== username && !isRemoteOn) {
            callAction();
        }
        if (message.type === 'JOIN') {
            callAction();
        } else if (message.type === 'LEAVE') {
            hangupAction();
        } else if (message.sender !== username) {
            remoteTimer.innerHTML = message.content;
        }
    }

</script>
</body>
</html>