<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay Awake</title>
</head>
<header>
    <h1>Stay Awake</h1>
</header>
<body th:onload="'javascript:setId('+${roomId}+'),setCount('+${count}+')'">

<video id="videoInput" width="500" height="400"></video>
<br>
<button type="button" th:onclick="'javascript:startCam(),startTimer()'">공부 시작</button>
<div>
    <form method="post">
        <input type="hidden" id="sendCount" name="second"/>
        <input type="submit" value="일시정지" th:onclick="'javascript:pauseCam(),pauseTimer()'">
    </form>
</div>
<h3 id="timer"></h3>
<script type="text/javascript" th:src="@{/js/camera.js}"></script>
<script type="text/javascript" th:src="@{/js/timer.js}"></script>

</body>
</html>