<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container" style="text-align:center">

    <div style="padding:50px;">
    </div>
    <form method="post" th:object="${member}">
        <div>
            <label for="username" style="font-size:20px;"></label>
            <input type="text" style="width:250px; height:30px;" id="username" th:field="*{username}" placeholder="아이디">
        </div>
        <div style="padding:10px;">
            <div class="mb-3">
                <label for="password" style="font-size:20px;"></label>
                <input type="password" style="width:250px; height:30px;" id="password" th:field="*{password}"
                       placeholder="비밀번호">
            </div>
            <div style="display: block">
            </div>
            <div style="padding:10px;">
                <button type="submit" style="width:250px; height:50px;
                      background-color:#5e5eec;
                      border-color: #5e5eec;
                      color:white;
                      font-size:20px;" class="btn btn-primary">회원가입
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>