.container {
    position: relative;
    width: 100%;
    height: 70%;
}

.memberContainer {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.memberElement {
    text-align: center;
    min-width: 640px;
    margin: 0 auto;
    background: #5e5eec;
    border-radius: 20px;
    padding-top: 40px;
    width: 40%;
}

#localVideo #remoteVideo {
    height: 100%;
    width: 40%;
    max-width: 500px;
}

.toggle-button-container {
    text-align: center;
}

#toggleBtn {
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 10%;
}

#toggleBtn:disabled {
    cursor: default;
}

#toggleBtn:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.imageButton {
    border: 0;
}

.imageButtonContainer {
    text-align: center;
}

header {
    text-align: center;
    background-color: #3b3b3e;
    overflow: hidden;
    padding: 20px 10px;
}

#headerLink {
    text-decoration: none;
}

#headerText {
    color: white;
}

.tableContainer {
    text-align: center;
}

.tb_col {
    border: 1px solid;
    width: 50%;
    text-align: center;
    display: inline-block;

}

#linkContainer {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkButton {
    background: #5e5eec;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.linkText {
    color: white;
    text-decoration: none;
}

#loginFormContainer {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 250px;
    min-height: 250px;

}

.form-control {
    width: 100%;
    height: auto;
    min-width: 250px;
    min-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    width: 100%;
    height: auto;
    min-height: 60px;
    background-color: #5e5eec;
    border-color: #5e5eec;
    border-radius: 5px;
    color: white;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.largeText {
    font-size: xx-large;
}